{% extends "base.html" %}
{% block pageTitle %}<title>密码重置</title>{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<br>
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-box">
<h3>重新設置密碼</h3>
<hr>
<div class="alert alert-info">請輸入您賬戶上的E-mail地址。<br><br>密碼重置鏈接將會發到那裏, 請注意查收。
</div>
<form|as_bootstrap action="" method="post">
{% csrf_token %}
{{ form|as_bootstrap }}
<button type="submit" class="btn btn-primary">發送新密碼</button>
</form>
</div>
</div>
</div>
{% endblock %}
